.navbar {
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a.text-points {
  color: #5cb85c;
}

.navbar .navbar-brand {
  font-family: "logo";
  color: #ffffff;
}

.bg-dark {
  background-color: #1A1F21 !important;
}

.navbar-dark {
  margin-bottom: 20px;
  background: #24292e;
}

.sign_in_links a {
  color: #ffffff;
}

.or {
  padding-left: 6px;
  padding-right: 6px;
}

.navbar a {
  color: #999999;
}

.announcement {
  margin-top: -20px;
}
