.review_row {
  padding-bottom: 20px;
}

.review_section {
  padding-bottom: 4px;
}

.review_body {
  padding-top: 10px;
}

.review_card {
  margin-bottom: 20px;
}

.review_card img {
  height: 40px;
  padding-right: 10px;
}
