.surfboard_row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.rating_icon {
  padding-right: 4px;
}

.rating_tooltip {
  padding-left: 4px;
}

.new_review {
  padding-top: 10px;
  padding-bottom: 10px;
}

.commit {
  position: relative;
  padding: 10px;
  margin-bottom: -1px;
  font-size: 13px;
  line-height: 20px;
  color: #586069;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
