.surfboard_row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.rating_icon {
  padding-right: 4px;
}

.rating_tooltip {
  padding-left: 4px;
}

.new_review {
  padding-top: 10px;
  padding-bottom: 10px;
}

.surboard_details {
  padding-bottom: 20px;
}

.search_form {
  padding-bottom: 30px;
}
